<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new Url to check</h3>
  </div>
  <form id="url-add" method="POST" action="{{ url }}" name="url-add">
  <div class="modal-body">
    <span id="url-counter" style="display:none;"class="badge badge-info pull-right">0</span>
    <label>Name</label>
    <input  type="text" name="name" placeholder="Google">
		<label>URL</label>
		<input  type="text" name="url" placeholder="http://www.google.com">
		<label>Check interval (minutes)</label>
		<input 	type="text" name="timeout" value="{{ default_timeout }}"placeholder="10">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" id="url-add-submit" class="btn btn-primary" value="Add Url">
  </div>
  </form>
  <script type="text/javascript">
  	$('#url-add-submit').click(function() {
      $.post('{{ url }}',$("#url-add").serialize(), function(data){
        if( data.result ){
          $('#url-counter').fadeIn(300);
          $('#url-counter').html(parseInt($('#url-counter').html(), 10) + 1);
        }
      });
	    return false;
  	});
  </script>
</div>