<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add new Url to check</h3>
  </div>
  <div class="modal-body">
    <form id="url-add" method="POST" action="{{ url }}" name="url-add">
		<label>URL</label>
		<input  type="text" placeholder="http://www.google.com">
		<label>Check interval (minutes)</label>
		<input 	type="text" placeholder="10">
	</form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="saveUrlSubmit">Save changes</button>
  </div>
  <script type="text/javascript">
  	$('#saveUrlSubmit').click(function() {
  		$.ajax({
	        url: '{{ url }}',
	        type: 'post',
	        data: $('form#url-add').serialize(),
	        success: function(data) {
	                  return false;
	                 }
	    });
	    return false;
  	});
  </script>
</div>